<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1093081887013-dqleo3ouubmlsf3vkan5s31hfpqb7ubs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093081887013-dqleo3ouubmlsf3vkan5s31hfpqb7ubs</string>
	<key>API_KEY</key>
	<string>AIzaSyBRD2NVzJt9mPaga3wtZlrx_tZQFLcQBC4</string>
	<key>GCM_SENDER_ID</key>
	<string>1093081887013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoomzoom.rider</string>
	<key>PROJECT_ID</key>
	<string>Zoomnew</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomzoomnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093081887013:ios:4681268f6b5e2305</string>
	<key>DATABASE_URL</key>
	<string>https://zoomzoomnew.firebaseio.com</string>
</dict>
</plist>
